# Data Analysis with Pandas
bike stats 


majd alkilany

In [43]:
import numpy as np
import pandas as pd

In [44]:
wd = pd.read_csv('weather.csv')
td = pd.read_csv('trip.csv')
sd = pd.read_csv('station.csv')

In [45]:
wd.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [46]:
td.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
sd.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

#### 1-What is the average trip duration for a borrowed bicycle?

1178

In [48]:
avg_trip_dur = int(td['tripduration'].mean())
avg_trip_dur

1178

#### 2-Whatâ€™s the most common age of a bicycle-sharer?

In [49]:
the_most_common_age  = td['birthyear'].mode()
the_most_common_age  = 2020 -the_most_common_age
the_most_common_age

0    33
dtype: object

#### 3-Given all the weather data here, find the average precipitation per month, and the median precipitation?

In [56]:
wd['Month'] = wd.apply(lambda x : x['Date'].split('/')[0],axis = 1)
wd['Year'] = wd.apply(lambda x : x['Date'].split('/')[2],axis = 1)
wd.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month,Year
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,10,10,4,13,4,21,0.00,Rain,10,2014
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,10,9,3,10,5,17,0.11,Rain,10,2014
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,10,9,3,18,7,25,0.45,Rain,10,2014
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,10,10,10,9,4,-,0.00,Rain,10,2014
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,10,10,6,8,3,-,0.14,Rain,10,2014

In [63]:
average_precipitation_per_month = wd[['Month','Precipitation_In']].groupby('Month').mean().sort_values('Precipitation_In',ascending=False)
average_precipitation_per_month

       Precipitation_In
Month
12             0.236290
10             0.189000
11             0.187833
2              0.168421
3              0.156935
1              0.143548
4              0.051333
9              0.041000
6              0.030500
8              0.018226
5              0.012419
7              0.012097

In [67]:
median_precipitation = wd['Precipitation_In'].median()
median_precipitation

0.0

### Whatâ€™s the average number of bikes at a given bike station?


**it's not clear for me number of bikes in station not givin** 
how i can

 ### 5-When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?
and this i didn't git the idea

### Come up with 3 more questions that can be answered with this data set.

#### A-, find the average precipitation per yer,

In [71]:
average_precipitation_per_Year = wd[['Year','Precipitation_In']].groupby('Year').mean().sort_values('Precipitation_In',ascending=False)
average_precipitation_per_Year

      Precipitation_In
Year
2014          0.180750
2015          0.100740
2016          0.086721

B- what is the maximum tempreture ?

In [85]:
max_temb = wd[['Max_Temperature_F','Date']].max()
max_temb

Max_Temperature_F          98
Date                 9/9/2015
dtype: object

#### C- who do more bike trips male or female ?

In [89]:
the_most_comon_gender = td['gender'].mode()
the_most_comon_gender

0    Male
dtype: object