# Data Analysis with Pandas

In [3]:
import numpy as np 
import pandas as pd

In [5]:
df = pd.read_csv('./vgsales.csv')
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

####  Which company is the most common video game publisher?

 **Electronic Arts**

In [8]:
df['Publisher'].mode()

0    Electronic Arts
dtype: object

#### What’s the most common platform?
 **DS**

In [9]:
df['Platform'].mode()

0    DS
dtype: object

What about the most common genre?
Action

In [10]:
df['Genre'].mode()

0    Action
dtype: object

#### What are the top 20 highest grossing games?

In [77]:
 df[['Name' , 'Global_Sales']].sort_values('Global_Sales',ascending = False).nlargest(20,'Global_Sales')['Name']

0                                       Wii Sports
1                                Super Mario Bros.
2                                   Mario Kart Wii
3                                Wii Sports Resort
4                         Pokemon Red/Pokemon Blue
5                                           Tetris
6                            New Super Mario Bros.
7                                         Wii Play
8                        New Super Mario Bros. Wii
9                                        Duck Hunt
10                                      Nintendogs
11                                   Mario Kart DS
12                     Pokemon Gold/Pokemon Silver
13                                         Wii Fit
14                                    Wii Fit Plus
15                              Kinect Adventures!
16                              Grand Theft Auto V
17                   Grand Theft Auto: San Andreas
18                               Super Mario World
19    Brain Age: Train Your Brain in Minutes a Day
Name: Name, dtype: object

#### For North American video game sales, what’s the median?
0.08

In [19]:
df_median = df[['NA_Sales']].median()
df_median

NA_Sales    0.08
dtype: float64

#### Provide a secondary output showing ten games surrounding the median sales output

In [73]:
df[df['NA_Sales']==0.08].sort_values('NA_Sales' ,ascending = False ).nlargest(10,'NA_Sales')['Name']

446                      Dragon Warrior IV
10545                Hunter: The Reckoning
10533         Dora & Kai-Lan's Pet Shelter
10532    Hot Wheels: Stunt Track Challenge
10526                          FIFA Street
10523                 Colin McRae Rally 04
10516                  Dora's Cooking Club
10509                 Blitz: The League II
10508                   Beyond Good & Evil
10491                              Syberia
Name: Name, dtype: object

In [83]:
 top_sale_game =df[['Name' , 'Global_Sales','NA_Sales']].sort_values('Global_Sales',ascending = False).iloc[0]
 top_sale_game

Name            Wii Sports
Global_Sales         82.74
NA_Sales             41.49
Name: 0, dtype: object

####  For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

50.47898767479108

In [48]:
 
 top_sale_of_game=top_sale_game['NA_Sales'] 
 top_sale_of_game

41.49

In [45]:
std_north_am = df['NA_Sales'].std()
std_north_am

0.8166830292988796

In [47]:
main_north_am =df['NA_Sales'].mean()
main_north_am

0.26466742981082064

In [50]:
standerd_deviation = ((top_sale_of_game-main_north_am)/std_north_am)
standerd_deviation

50.47898767479108

#### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

1 - we will find all Nintendo wii  and find the averge  then found all other platform and there averge thin compaire it by dviding the nintendo to th all

In [62]:
wii= df[df['Platform']=='Wii']
nintendo_and_wii =  wii[wii['Publisher']=='Nintendo']
nintendo_and_wii_sales_av = nintendo_and_wii['Global_Sales'].mean()
nintendo_and_wii_sales_av

4.6483333333333325

In [63]:
not_wii= df[df['Platform']!='Wii']
not_wii_sales_av = not_wii['Global_Sales'].mean()
not_wii_sales_av

0.5233896418516336

In [72]:
compare_the_av = (nintendo_and_wii_sales_av - not_wii_sales_av)/not_wii_sales_av
compare_the_av

7.881210023355803

What is the  game has the highest sales in Japan?

In [87]:
the_most_haeyst_sales_in_japan = df[['Name' ,'JP_Sales']].sort_values('JP_Sales',ascending=False).nlargest(1,'JP_Sales')
the_most_haeyst_sales_in_japan

                       Name  JP_Sales
4  Pokemon Red/Pokemon Blue     10.22

What is the 3  most comon platform in Japan?

In [104]:
the_most_comon_platform_japan = df[['Name','Platform','JP_Sales']]['Platform'].mode()
the_most_comon_platform_japan

0    DS
dtype: object

In [114]:
the_sales_for_Dragon_Quest	 = df[df['Name']=='Dragon Quest VII: Warriors of Eden'][['Name','Platform','JP_Sales','Publisher','Global_Sales']]
the_sales_for_Dragon_Quest

,Name,Platform,JP_Sales,Publisher,Global_Sales
242,Dragon Quest VII: Warriors of Eden,PS,4.1,Enix Corporation,4.47
1353,Dragon Quest VII: Warriors of Eden,3DS,1.3,Square Enix,1.42